@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #0c7932;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul li {
  padding: 0px 12px;
}
nav ul {
  height: 50px;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: black;
  color: white;
}
li img {
  width: 43px;
  padding: 0px 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 75vh;
  width: 70vw;
  margin: 12px auto;
  background-color: black;
  border-radius: 12px;
  color: white;
  background-image: url("./images/back.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
}
.songList {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0c7932;
  width: 500px;
  margin: 10px 40px;
  border-radius: 20px;
}
.songImg img {
  margin-top: 5px;
  width: 50px;
  border-radius: 60%;
}
.bottom {
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  height: 100px;
  position: sticky;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  flex-direction: column;
}
#myProgressbar {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 80vw;
}
i,
#playSongImg,
.icon h3,
.icon img {
  cursor: pointer;
}
.icon span {
  font-weight: lighter;
  position: absolute;
  left: 20%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img {
  position: absolute;
  left: 90%;
  width: 100px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
#playSongImg {
  position: absolute;
  left: 10%;
  width: 50px;
  border-radius: 60%;
  opacity: 1;
}
.singerName {
  position: absolute;
  top: 65%;
  left: 20%;
  font-weight: lighter;
}
